{% extends "base.html" %}
{% block content %}
    <div class="container">
        <div class="mt-5 mb-5 shadow bg-dark">
            <h1 class="text-center text-white p-4">Identification</h1>
            <h3 class="text-center text-danger mb-3">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </h3>
            <p class="text-center text-white mb-3" >Cette page est réservée uniquement aux
                differents administrateurs des établissements d'enseignement</p>
            <form method="POST">
                {% csrf_token %}
                <p class="text-center">
                    <label for="username" class="text-white">Nom d'utilisateur</label> <br>
                    <input id="username" style="width:70%; height:40px; text-align:center" type="text" name="username" placeholder="Entrer votre identifiant" required>
                </p>
                <p class="text-center">
                    <label for="password" class="text-white">Mot de passe</label> <br>
                    <input id="password" style="width:70%; height:40px; text-align:center" type="password" name="password" placeholder="Entre votre mot de passe" required>
                </p>
                <div class="d-flex justify-content-center p-4">
                    <button type="submit" class="btn btn-success">S'identifier</button>
                </div>
            </form>
        </div>
        </div>
{% endblock %}